body {
    background-color: #e1ddce;
  }

h1 {
  color: #d75f28;
  font-family: 'Mali', cursive;
  font-size: 60px;
  margin-left: 30px;
}

p {
  font-family: 'Mali', cursive;
}

li{
  font-family: 'Mali', cursive;
  margin-top: 0;
}

.list {
  margin-top: 0px
}

.heading {
  color: #1b68b6;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin-bottom: 0px;
}

.description {
  width: 600px;
  margin-left: 30px;
}

.left {
  width: 600px;
  margin-top: 20px;
  display: inline-block;
  float: left;
  margin-left: 30px;
}

.right {
  width: 600px;
  margin-left: 30px;
  margin-right: 50px;
  display: inline-block;
}

#img-footer {
  margin-top: 0px;
  margin-bottom: 30px;
}

#notes-margin {
  margin-top: 0px;
}