body {
    background-color: #e1ddce;
  }

h1 {
  color: #d75f28;
  font-family: 'Mali', cursive;
  font-size: 60px;
}

.heading {
  color: #1b68b6;
  font-family: 'Amatic SC', cursive;
}

.description {
  width: 600px;
}

.left {
  width: 600px;
  height: 100%;
  margin-top: 20px;
  display: inline-block;
  float: left;
}

.right {
  width: 600px;
  height: 100%;
  margin-left: 30px;
  margin-right: 50px;
  display: inline-block;
  float: right;
}

